<!DOCTYPE html>
<html lang="en">
<!-- Navigation-->
<nav class=" navbar navbar-expand-lg navbar-light bg-white ">
    <div class="container px-4 px-lg-5">
        <form class="d-flex ">
            <input class="form-control mx-sm-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0 navbar-brand" type="submit">
                <i class="bx bx-search"></i>
            </button>
        </form>

        <ul class="d-flex align-items-center mb-0">
            <li class="nav-item dropdown">
                <a class="nav-link d-flex align-items-center " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="bx bxs-bell"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                          </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">알림1</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">알림2</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">알림2</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="/static/img/mang9.jpg" alt="user-image" width="35" class="rounded-circle">
                            </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">마이페이지</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">로그아웃</a></li>
                </ul>
            </li>
            <li class="border rounded-pill">
                <a class="nav-link fw-bold px-lg-3 py-2" href="#">
                    공고 모집
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>